.main{
    display: flex;
    flex-flow: column nowrap;
    .submain1{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        .submain2{
            width: 40%;
            max-height: 80vh;
            overflow-y: scroll;
        }
    }

}

@media only screen and (max-width: 700px) {
    .submain1{
        flex-flow: column-reverse nowrap !important;
        .submain2{
            width: 100% !important;
        }
    } 
}
